/* *{
  margin:0;
  padding:0;
  font-family:'Poppins',sans-serif;
  box-sizing: border-box;
  background-color: black;
} */
/* body{
  background-color: #222;
}
.card{
  width: 90%;
  max-width: 470px;
  color: #fff;
  background-color: linear-gradient(135deg,#00feba,#5b548a);
  margin:100px auto 0;
  border-radius: 20px;
  padding:40px 35x;
  text-align: center;
}
.search{
  width: 100%;
  display: flex;
  justify-content: center;
}
.search input{
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px;
  flex:1;
  margin-right: 16px;
  font-size: 18px;

} */

*{
margin:0;
padding:0;
font-family:'Poppins',sans-serif;
box-sizing: border-box;
}
body{
background-color: #222;
}
.card{
width: 90%;
max-width: 470px;
background: linear-gradient(135deg,#00feba,#5b548a);
color: #fff;
margin:100px auto 0;
border-radius: 20px;
padding:40px 35px;
text-align: center;
}
.search{
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
}
.search input{
border: 0;
outline: 0;
background: #ebfffc;
color: #555;
padding: 10px 25px;
height: 60px;
border-radius: 30px;
flex:1;
margin-right: 16px;
font-size: 18px;
}
.search button{
border :0;
outline: 0; 
background: #ebfffc;
border-radius: 50%;
width: 60px;
height: 60px;
cursor: pointer;
}
.search button svg{
width: 16px;
}
.weather svg{

  width: 250px;
  height: 200px;
}
.weather h1{
font-size: 80px;
font-weight:500px;
}
.weather h2{
font-size:45px ;
font-weight: 500px;
margin-top: -10px;
}
.details{
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 25px;
margin-top:35px;

}
.col{
display:flex;
align-items: center;
text-align: left;
}
.col svg{
width: 45px;
margin-left:45px ;
}
.humidity,.wind{
font-size: 24px;
margin-top: -6px;
}